.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
table {
    border: 1px solid black;
}
td {
    border: none;
    padding: 5px;
    background: bisque;
    font-size: 30px;

}
.firstEl{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}